Api/.env
Api/Images
Api/config.json

Save Model at Hugging face Locally/Images
Save Model at Hugging face Locally/vit_classification_pneumonia
Save Model at Hugging face Locally/vit_classification_pneumonobot

chatbot/__pycache__
chatbot/vit_classification_pneumonobot
chatbot/config.json

Pneumonia Classification Using ViT/config.json

Save Embeddings Locally/config.json

Save Embeddings to Qdrant/config.json

Essentials/